name: buildImage.yml
on:
  workflow_dispatch:
    inputs:
      version:
        description: image version
        required: true
        default: v1

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Build default backend
        run: |
          docker build defaultbackend/. -t alexandrutalmaciu/defaultbackend:${{github.event.inputs.version }}
          docker push alexandrutalmaciu/defaultbackend:${{github.event.inputs.version }}
